/* You can add global styles to this file, and also import other style files */
.ejercicioUno{
    margin-left: 10%;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
}

.ejercicioDos{
    margin-left: 10%;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
}